.okkhor {
    font-family: 'Courier New', Courier, monospace;
}
.navigation {

}
.nav_er_pita {
    margin-left: 50px;
    margin-right: 50px;
}
.nav_er_pita ul {
    display: flex;
    justify-content: space-between;

}
.nav_er_pita ul li {
    display: inline-block;
    align-content: center;
}
.nav_er_pita ul li a {
    text-decoration: none;
}
.butt_0 {
    padding: 17px 24px;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    color: #0D1321;
    font-family: 'Azeret Mono', monospace;
    border-width: 1px;
    border-color: #0D1321;
    cursor: pointer;
}
.logo_h {
    color: #0D1321;
    font-size: 24px;
    font-weight: 900;
}
.header_bg {
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
}
.banner {
    text-align: center;
    align-items: center;
}
.banner_content {
    max-width: 998px;
    text-align: center;
    justify-content: space-around;
    display: block;
    margin-left: 500px;
    margin-right: 500px;
    padding: 30px 30px 40px 30px;
}
.banner_title {
    text-align: center;
}
.banner_desc {
    color: #0D1321;
    margin-top: 32px;
}
.butt_h1 {
    color: white;
    background-color: #0D1321;
    border-radius: 8px;
    border-width: 0px;
    padding: 21px 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Azeret Mono', monospace;
    margin-top: 32px;
    cursor: pointer;
}

/* main part */
.why_web_dev {
    margin: 100px 200px 100px 200px;
    background-color: #0d132107;
    padding: 80px 97px;
    border-radius: 16px;
    border-width: 0px;
}
.main_tit {
    text-align: center;
}
.main_desc {
    text-align: center;
    margin-bottom: 50px;
}
.sub_m_1 {
    display: flex;
    border-radius: 16px;
    justify-content: space-around;
    padding: 48px;
    color: #0d1321ab;
    background-image: linear-gradient(to right, white, #0d132107);
    margin-top: 20px;
    margin-bottom: 30px;
}
.sub_text_1 {
    display: block;
    max-width: 477px;
}
.sub_text_1 h6 {
    font-size: 20px;
    margin-bottom: 20px;
}
.sub_text_1 p {
    font-size: 14px;
    margin-top: 20px;
}
.butt_m0 {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Azeret Mono", monospace;
    color: #0d1321ab;
    background-color: white;
    border-width: 1px;
    border-color: #0d1321ab;
    margin-top: 20px;
    cursor: pointer;
}


/* primary or shared */
.azeret_mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}