* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}

.okkhor {
    font-family: 'Courier New', Courier, monospace;
}
.navigation {
    margin: 20px 150px;
}
.nav_er_pita {
    margin-left: 50px;
    margin-right: 50px;
}
.nav_er_pita ul {
    display: flex;
    justify-content: space-between;

}
.nav_er_pita ul li {
    display: inline-block;
    align-content: center;
}
.nav_er_pita ul li a {
    text-decoration: none;
}
.butt_0 {
    padding: 17px 24px;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    color: #0D1321;
    font-family: 'Azeret Mono', monospace;
    border-width: 1px;
    border-color: #0D1321;
    cursor: pointer;
}
.logo_h {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
}
.header_bg {
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
}
.banner {
    text-align: center;
    align-items: center;
}
.banner_content {
    max-width: 998px;
    text-align: center;
    justify-content: space-around;
    display: block;
    margin-left: 500px;
    margin-right: 500px;
    padding: 30px 30px 40px 30px;
}
.banner_title {
    text-align: center;
}
.banner_desc {
    color: #0D1321;
    margin-top: 32px;
}
.butt_h1 {
    color: white;
    background-color: #0D1321;
    border-radius: 8px;
    border-width: 0px;
    padding: 21px 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Azeret Mono', monospace;
    margin-top: 32px;
    cursor: pointer;
}

/* main part */
.why_web_dev {
    margin: 100px 300px;
    background-color: #0d132107;
    padding: 80px 97px;
    border-radius: 16px;
    border-width: 0px;
}
.main_tit {
    text-align: center;
    margin-bottom: 20px;
}
.main_desc {
    text-align: center;
    margin-bottom: 50px;
}
.sub_m_1 {
    display: flex;
    border-radius: 16px;
    justify-content: space-around;
    padding: 48px;
    color: #0d1321ab;
    background-image: linear-gradient(to right, white, #0d132100);
    margin-top: 20px;
    margin-bottom: 30px;
}
.sub_m_2 {
    display: flex;
    border-radius: 16px;
    justify-content: space-around;
    padding: 48px;
    color: #0d1321ab;
    background-image: linear-gradient(to right, #0d132100, white);
    margin-top: 20px;
    margin-bottom: 30px;
}
.sub_text_1 {
    display: block;
    max-width: 477px;
    margin-top: 30px;
}
.sub_text_1 h6 {
    font-size: 20px;
    margin-bottom: 20px;
}
.sub_text_1 p {
    font-size: 14px;
    margin-top: 20px;
}
.butt_m0 {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Azeret Mono", monospace;
    color: #0d1321ab;
    background-color: white;
    border-width: 1px;
    border-color: #0d1321ab;
    margin-top: 20px;
    cursor: pointer;
}

/* my insp */
.my_insp {
    padding-top: 50px;
    margin: 100px 300px;
}
.insp_text {
    text-align: center;
}
.insp_text p {
    font-size: 14px;
    color: #0d1321ab;
    margin-bottom: 20px;
    margin-top: 30px;
}
.vid_div {
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    border-color: #0d1321ab;
    border-width: 2px;
    display: block;
}

.vid {
    text-align: center;
    padding: 40px;
    border-radius: 16px;
    border-width: 2px;
    border-color:#0d132149;
    overflow: hidden;
}
/* target sec */
.target h2 {
    text-align: center;
}
.target p {
    text-align: center;
    font-size: 14px;
    color: #0d1321ab;
    margin-top: 30px;
}
.skills {
    margin: 50px 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.skill1 {
    background-color: #ff4b1e17;
    border-radius: 10px;
    padding: 40px;
}
.skill_h {
    font-size: 20px;
    margin-top: 30px;
}
.skill_p {
    font-size: 14px;
    color: #0d1321ab;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skill_a {
    color: #0D1321;
    font-weight: 600;
    font-size: 16px;
}
.skill2 {
    background-color: #004de817;
    border-radius: 10px;
    padding: 40px;
}
.skill3 {
    background-color: #ffdd0017;
    border-radius: 10px;
    padding: 40px;
}
/* support */
.support {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/handshake.jpg);
    margin: 100px 300px;
    padding: 64px 48px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}
.support h2 {
    color: white;
    text-align: center;
}
.support p {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.input_form {
    text-align: center;
    
}
.butt_s {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    color: #0D1321;
    font-family: 'Azeret Mono', monospace;
    border-width: 0px;
    cursor: pointer;
}
#feed_back {
    width: 548px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-family:'Azeret Mono', monospace;
}


.footer {
    background-color: #0d132107;
    margin-top: 150px;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding: 32px;
}
.f_text h2 {
    font-size: 16px;
}
.footer_niche_kalo {
    background-color: #0D1321;
    height: 150px;
    clear: both;
}

/* primary or shared */
.azeret_mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}